@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TietoCRM.Extensions;
<row>
    <div class="col-md-12">
        <form method="get" action="~/TopCustomersReport/Pdf" target="_blank" class="form-inline">
            <div class="form-group">
                <label for="crm-select-area">Area:</label>
                <select name="area" id="crm-select-area" class="form-control selectpicker" data-live-search="true">
                    @foreach (String area in ViewBag.Areas)
                    {
                        <option value="@area">@area</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="crm-select-user">Representative:</label>
                <select name="user" id="crm-select-user" class="form-control selectpicker" data-live-search="true">
                    
                </select>
            </div>
            <div class="form-group">
                <button style="margin-top: 1.7em;" class="btn btn-default" type="submit">PDF</button>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <table draggable="true" id="report-table" class="table table-bordered table-hover" data-sort-name="name" data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="customer" data-sortable="true">Customer</th>
                    <th data-field="amount" data-sortable="true">Total spent</th>
                    <th data-field="representative" data-sortable="true">Representative</th>
                    <th data-field="county" data-sortable="true">County</th>
                    <th data-field="customer_type" data-sortable="true">Customer Type</th>
                </tr>
            </thead>
        </table>
    </div>
    <script>
    @{String DataObject = "\r\n";}
    @{
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "customer" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "amount" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "representative" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "customer_type" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "county" + "\"  },\r\n";
    }
    @{DataObject = DataObject.Remove(DataObject.Length - 3);}
    var updateDataTable = function(user)
    {
        $('#report-table').DataTable({
            "destroy": true,
            "processing": true,
            "bPaginate": false,
            "ajax": {
                "url": "/TopCustomersReport/TopCustomers/",
                "type": "POST",
                "data": {
                    "user": $userContainer.val()
                }
            },
            "defaultContent": "",
            "columns": [@Html.Raw(DataObject)
            ],
            "order": [[1, "desc"]],
            "scrollX": true,

        });

    }
    $('document').ready(function () {

        $('.selectpicker').selectpicker();

        $userContainer = $("#crm-select-user");

        $areaContainer = $("#crm-select-area");

        $areaContainer.on("change", function(){
            updateUser();
        });

        updateUser();

        $userContainer.change(function () {
            updateDataTable(this.value)

        });
    });
    var updateUser = function(){
        $.ajax({
            "url": "/TopCustomersReport/GetUsers/",
            "type": "POST",
            "data": {
                "area": $("#crm-select-area").val()
            },
            "success": function (data) {
                $userContainer.empty();
                $userContainer.append("<option value='*'>All</option>");
                var json = JSON.parse(data);
                var length = json.length;
                for(var i = 0; i < length; i++)
                {
                    user = json[i];
                    $userContainer.append("<option value='" + user.Sign + "'>" + user.Name + "</option>");
                }
                $('.selectpicker').selectpicker("refresh");
                updateDataTable($userContainer.val());
            }
        });
    }

    </script>
</row>
