<div class="crm-bg">
    <div class="row">
        <div class="col-md-6 crm-widget-dashboard">
            <div class="panel panel-default crm-widget-dashboard">
                <div class="panel-heading">
                    Counters
                    <span id="crm-widget-refresh-all" class="refresh-button pull-right">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-4">
                            <div id="open-offers" class="panel panel-default crm-widget">
                                <a href="/SaleReport/" class="panel-heading">Sent Offers</a>
                                <div class="panel-body">
                                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                    <span class="widget-data"> </span>
                                    <div style="display: none" class="crm-loading">
                                        <img src="~/Content/img/crm-loading.gif" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sent-contracts" class="col-xs-6 col-md-4">
                            <div class="panel panel-default crm-widget">
                                <a href="/SentContractsReport/" class="panel-heading">Sent Contracts</a>
                                <div class="panel-body">
                                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                    <span class="widget-data"> </span>
                                    <div style="display: none" class="crm-loading">
                                        <img src="~/Content/img/crm-loading.gif" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div id="expiring-contracts" class="panel panel-default crm-widget">
                                <a href="/ContractExpirationList/" class="panel-heading">Expiring Contracts</a>
                                <div class="panel-body">
                                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                    <span class="widget-data"> </span>
                                    <div style="display: none" class="crm-loading">
                                        <img src="~/Content/img/crm-loading.gif" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default crm-widget-dashboard">
                <div class="panel-heading">
                    Information Messages
                    <span id="info-refresh-all" class="refresh-button pull-right">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </span>
                </div>
                <div class="panel-body crm-info-container">
                    <ul class="crm-info-list">
                        <li style="display: none" class="crm-loading">
                            <img src="~/Content/img/crm-loading.gif" />
                        </li>
                        <li class="crm-empty-list">
                            As for now there are no messasges to show.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 crm-widget-dashboard">
            <div class="panel panel-default crm-widget-dashboard">
                <div class="panel-heading">
                    Top 5 Customers
                    <span id="top-five-refresh" class="refresh-button pull-right">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </span>
                </div>
                <div id="top-five-body" class="panel-body">
                    <div style="display: none" class="crm-loading">
                        <img src="~/Content/img/crm-loading.gif" />
                    </div>
                    <canvas style="display: none" id="topCustomers" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var getTopFiveCustomers = function()
    {
        var $topFiveContainer = $('#top-five-body');
        var $topCustomersCTX = $('#topCustomers');
        var $laodingContainer = $topFiveContainer.find('.crm-loading');

        $.ajax({
            "url": '/Home/GetTopFiveCustomers',
            "type": "POST",
            "beforeSend": function(){
                $laodingContainer.show();
                $topCustomersCTX.hide();
            },
            "success": function (data) {
                setTimeout(function () {
                $laodingContainer.hide();
                $topCustomersCTX.show();
                    updateChart(data, $topCustomersCTX);
                }, 1000);
            },
            "error": function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                $laodingContainer.hide();
                $topCustomersCTX.hide();
                triggerAlert("Update failed. Please check your internet connection.", "warning");
            }
        });
        var updateChart = function(chartData, chartCTX){
            var jsonData = null;
            try{
                jsonData = JSON.parse(chartData);
            } catch (e) {
                console.log("Failed to parse JSON: " + e.message);
            }

            var chartValues = [];
            var chartLabels = [];
            var len = jsonData.length;

            for (var i = 0; i < len; i++) {
                var stat = jsonData[i];
                chartValues.push(stat.amount);
                chartLabels.push(stat.customer);
            }
            var aChart = new Chart(chartCTX, {
                scaleStartValue : 0,
                type: 'bar',
                data: {
                    labels: chartLabels,
                    datasets: [{
                        
                        data: chartValues,
                        backgroundColor: [
                             'rgba(0, 101, 160, 0.6)',
                             'rgba(71, 168, 189, 0.6)',
                             'rgba(245, 230, 99, 0.6)',
                             'rgba(223, 154, 87, 0.6)',
                             'rgba(61, 250, 255, 0.6)',
                        ],
                        borderColor: [
                             'rgba(0, 101, 160, 1)',
                             'rgba(71, 168, 189, 1)',
                             'rgba(245, 230, 99, 1)',
                             'rgba(223, 154, 87, 1)',
                             'rgba(61, 250, 255, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var value = data.datasets[0].data[tooltipItem.index];
                                return formatCurrency(value);
                            }
                        }
                    },
                    scales: {
                        yAxes: [
                            {
                                scaleLabel: {
                                    display: true,
                                    labelString: "Summa [SEK]"
                                }
                                
                            }
                        ]
                    }
                }
            });
            return aChart;
        }
    }

</script>


<script>

    var handleLoadingIcon = function($widget, action)
    {
        var $panelBody = $widget.find('.panel-body');
        var $laodingContainer = $widget.find('.crm-loading')
        if(action == 'show')
        {
            $panelBody.find('span').hide();
            $laodingContainer.show();
        }
        else {
            $panelBody.find('span').show();
            $laodingContainer.hide();
        }
    }
    var getStatisticsValue = function(url, $widget)
    {
        var $widgetData = $widget.find('.widget-data');
        $.ajax({
            "url": url,
            "type": "POST",
            "beforeSend": function(){
                handleLoadingIcon($widget, "show");
            },
            "success": function (data) {
                $widgetData.html(data);
                handleLoadingIcon($widget, "hide");
            },
            "error": function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                handleLoadingIcon($widget, "hide");
                triggerAlert("Update failed. Please check your internet connection.", "warning");
            }
        });
    }
    var handleEmptyInfoMesg = function(show)
    {
        var $container = $('.crm-empty-list');
        if (show == true || show == 'show')
        {
            $container.show(); 
        }         
        else
            $container.hide();

        return $container;
    }
    var getAllInformation =  function(StatisticsRefresh)
    {
        var StatisticsRefresh = StatisticsRefresh === true ? StatisticsRefresh : false;

        var $infoList = $('.crm-info-list');
        var $laodingContainer = $infoList.find('.crm-loading');
        var $emptyMsg = $('.crm-empty-list');
        $infoList.html($laodingContainer);
        $infoList.append($emptyMsg);

        $.ajax({
            "url": "/Home/GetAllInformation/",
            "type": "POST",
            "dataType": "json",
            "beforeSend": function () {
                $laodingContainer.show();
                handleEmptyInfoMesg('hide');
            },
            "success": function (data) {
                setTimeout(function () {
                    if (data.length == 0 || data == "" || typeof data == 'undefined')
                    {
                        handleEmptyInfoMesg('show');
                        $laodingContainer.hide();
                        if (StatisticsRefresh) {
                            getAllStatistics();
                        }
                   
                    }
                    else
                    {
                        handleEmptyInfoMesg('hide');
                   
                        $laodingContainer.hide();
                        $(data).each(function () {
                            var infoObj = this;
                            var infoHtml = createInformationHtml(infoObj);
                            $infoList.append(infoHtml);
                               
                        })
                        if (StatisticsRefresh) {
                            getAllStatistics();
                        }
                    }  
                }, 500);
            },
            "error": function (jqXHR, textStatus, errorThrown) {
                $laodingContainer.hide();
                triggerAlert("Update failed. Please check your internet connection.", "warning");
            }
        });
    }

    var createInformationHtml = function(infoObj)
    {
        var rawHtml = "<li class='info-item'>                                               \
                           <div class='panel panel-default crm-widget'>                     \
                               <div class='panel-heading info-title'>                       \
                                   <span class='info-title-text'></span>                    \
                                   <span class='glyphicon pull-right'></span>               \
                               </div>                                                       \
                               <div class='panel-body info-message'></div>                  \
                               <div class='panel-footer'>                                   \
                                   <div class='info-author'></div>                          \
                                   <div class='info-updated'>Updated: <span></span></div>   \
                               </div>                                                       \
                           </div>                                                           \
                       </li>";
        var $htmlObj = $(rawHtml);
        if (infoObj.Type == "Warning")
        {
            $htmlObj.addClass('info-warning');
            $htmlObj.find('.glyphicon').addClass('glyphicon-warning-sign');
        }
        else if(infoObj.Type == "Danger"){
            $htmlObj.addClass('info-danger');
            $htmlObj.find('.glyphicon').addClass('glyphicon-danger-sign');
        }
        else
        {
            $htmlObj.addClass('info-normal');
            $htmlObj.find('.glyphicon').addClass('glyphicon-info-sign');
        }
        $htmlObj.attr("data-info-id", infoObj._ID);
        $htmlObj.find('.info-title-text').html(infoObj.Title);
        $htmlObj.find('.info-message').html(infoObj.Message);
        $htmlObj.find('.info-author').html(infoObj.AuthorFullName);
        $htmlObj.find('.info-updated span').html(infoObj.Updated);
        return $htmlObj;
    }

    var $openOffersWidget = $('#open-offers');
    var $sentContractsWidget = $('#sent-contracts');
    var $expiringContractsWidget = $('#expiring-contracts');

    var getAllStatistics = function () {
        getStatisticsValue("/Home/GetAmountOpenOffers/", $openOffersWidget);
        getStatisticsValue("/Home/GetAmountSentContracts/", $sentContractsWidget);
        getStatisticsValue("/Home/GetAmountExpiringContracts/", $expiringContractsWidget);
    }

    $(document).ready(function () {

        $('#crm-widget-refresh-all').click(getAllStatistics);
        $('#info-refresh-all').click(getAllInformation);
        $('#top-five-refresh').click(getTopFiveCustomers);
  
        
        getAllInformation(true);
        getTopFiveCustomers();
        
        
    });
</script>
