
<div class="crm-overlay-backgorund-filter">
    <div class="crm-overlay-background-image"></div>
</div>
<div class="row">
    <div class="col-md-6 crm-widget-dashboard">
        <div class="panel panel-default crm-widget-dashboard">
            <div class="panel-heading">TESS Counters</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <div class="panel panel-default crm-widget">
                            <div class="panel-heading">Pending Offers</div>
                            <div class="panel-body">
                                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                <span id="pending-offers-data"> 44</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="panel panel-default crm-widget">
                            <div class="panel-heading">Sent Contracts</div>
                            <div class="panel-body">
                                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                <span id="sent-contracts-data"> 3</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="panel panel-default crm-widget">
                            <div class="panel-heading">Expiring Contracts</div>
                            <div class="panel-body">
                                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                <span id="expiring-contracts-data"> 12</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>
