<!DOCTYPE html>
<html>
<head>
<style type="text/css">
  html, body{
    margin: 0;
    padding: 0;
    border: none;
  }
	img {
    max-width: 100%;
  }
  .header{
    padding: 1em 0;
    margin: 0 1.4cm 0 2.1cm !important;
    padding-top: 1.6cm;
  }
  .date{
    float: left;
    font-size: 12px !important;
  }
  .logo{
    width: 110px;
    float: right;
  }
</style>
</head><body>
                        <div class='header'>
                            <div id='date' class='date'>2016-08-12</div><div class='logo'>
                            <img src='../../Content/img/tieto-logo-com.png' />
                            </div> </div>
                        </body>
                        </html>
                    