@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    List<String> skipProp = new List<string>
    {
        "SSMA_timestamp",
        "System",
        "Customer",
        "Sign",
        "SortNo",
        "Discount_type",
    };
}

@foreach (String pName in ViewBag.SystemNames)
{
    var rubrik = pName.Split(new char[] { '#' })[1];
    <div class="crm-print-block">
        <h1>@rubrik</h1>
        <table class="table table-striped table-bordered cpr-table">
            @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
            {
                String PropertyName = PropertyInfo.Name.Replace("_", " ");
                if (@PropertyName != "SSMA timestamp" && PropertyInfo.Name != "System" &&
                    PropertyInfo.Name != "Customer" && PropertyInfo.Name != "Sign" &&
                    PropertyInfo.Name != "SortNo" && PropertyInfo.Name != "Discount_type")
                {
                    <th>@PropertyName</th>
                }

            }
            @foreach (Dictionary<String, object> cmp in ViewBag.CustomerMissingProducts)
            {
                if ((String)cmp["System"] == rubrik)
                {
                    <tr class="">
                        @foreach (KeyValuePair<String, object> dic in cmp)
                        {
                            if (!skipProp.Contains(dic.Key))
                            {
                                <td>@dic.Value</td>
                            }
                        }
                    </tr>
                }
            }

        </table>
    </div>
}


