@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

<div class="crm-print-block">
    <table class="table table-striped table-bordered contract-supervision-table">
        <th>Customer</th>
        <th>Contract id</th>
        <th>Inhabitant level</th>
        @foreach (Dictionary<String,String> contract in ViewBag.Customermodules)
        {
            <tr class="">
                @foreach(KeyValuePair<String,String> keyValue in contract)
                {
                    <td>@keyValue.Value</td>
                }
            </tr>
        }

    </table>
</div>


