@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
   
}
@using TietoCRM.Models;
@using System.Globalization;
@if(ViewBag.ValidDate)
{
    <style>

        td:nth-child(1){
            width: 5em !important;
        }
        td:nth-child(2){
            width: 5em !important;
        }
         td:nth-child(3){
            width: 30em !important;
        }
    </style>
    <div class="crm-print-block">
    <table class="table table-striped table-bordered cpr-table">
        <th>Amount</th>
        @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
        {
            String PropertyName = PropertyInfo.Name.Replace("_", " ");
            if (ViewBag.Printable.Contains(PropertyInfo.Name)) 
            {
                <th>@PropertyName</th>
            }

        }
        @foreach (Dictionary<String, object> dic in ViewBag.ReturnModules)
        {
            <tr class="">

            @foreach (KeyValuePair<String, object> FMS in dic)
            {
                if (ViewBag.Printable.Contains(FMS.Key) || FMS.Key == "Count")
                {
                    if (FMS.Key == "Price_category")
                    {
                        CultureInfo se = CultureInfo.CreateSpecificCulture("sv-SE");
                        String pc = String.Format(se, "{0:C0}", FMS.Value).Replace(".", " ").Replace(" kr", "");

                        <td>@pc</td>

                    }
                    else
                    {
                        <td>@FMS.Value</td>
                    }


                }
            }

            </tr>

        }
       

    </table>
</div>

}
else
{
    <h1>Invalid dates.</h1>
}
