@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
   

}
@using TietoCRM.Models;

@if(ViewBag.ValidDate)
{
    <div class="crm-print-block">
    <table class="table table-striped table-bordered cpr-table">
        @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
        {
            String PropertyName = PropertyInfo.Name.Replace("_", " ");
            if (ViewBag.Printable.Contains(PropertyInfo.Name)) 
            {
                <th>@PropertyName</th>
            }

        }
        <th>Count</th>
        @foreach (TietoCRM.Models.view_Module FM in ViewBag.FilteredModules)
        {
            <tr class="">
                @{
                    var LastPInfoCount = ViewBag.Properties.Length;
                    var count = 0;
                }
                @foreach (System.Reflection.PropertyInfo PInfo in ViewBag.Properties)
                {
                    count++;
                    if (LastPInfoCount == count)
                    {
                        foreach(var dup in ViewBag.FilteredModulesWithCount)
                        {
                            System.Type type = dup.GetType();
                            
                            int art = (int)type.GetProperty("Value").GetValue(dup, null).Article_number;
                            int dupCount = (int)type.GetProperty("Count").GetValue(dup, null);
                            if (FM.Article_number == art)
                            {
                                <td>@dupCount</td>
                            }
                        }
                    }

                    if (ViewBag.Printable.Contains(PInfo.Name))
                    {
                        if (PInfo.GetValue(FM) != null)
                        {
                            <td>@PInfo.GetValue(FM).ToString()</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                    

                }
            </tr>
        }

    </table>
</div>

}
else
{
    <h1>Invalid dates.</h1>
}
