@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

@foreach (String pName in ViewBag.SystemNames)
{
    var rubrik = pName.Split(new char[] { '#' })[1];
    <div class="crm-print-block">
        <h1>@rubrik</h1>
        <table class="table table-striped table-bordered cpr-table">
            @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
            {
                String PropertyName = PropertyInfo.Name.Replace("_", " ");
                if (@PropertyName != "SSMA timestamp" && PropertyInfo.Name != "System" && 
                    PropertyInfo.Name != "Customer" && PropertyInfo.Name != "Sign" && PropertyInfo.Name != "Status" &&
                    PropertyInfo.Name != "SortNo" && PropertyInfo.Name != "Discount_type")
                {
                    <th>@PropertyName</th>
                }
            }
            @foreach (TietoCRM.Models.view_CustomerProductRow CPR in ViewBag.CustomerProductRows)
            {
                if (CPR.System == rubrik && CPR.Status == "Giltigt")
                {
                    <tr class="">
                        @foreach (System.Reflection.PropertyInfo PInfo in ViewBag.Properties)
                        {
                            if (PInfo.Name != "SSMA_timestamp" && PInfo.Name != "System" && PInfo.Name != "Customer" && PInfo.Name != "Sign" &&
                                PInfo.Name != "Status" && PInfo.Name != "SortNo" && PInfo.Name != "Discount_type")
                            {
                                if (PInfo.PropertyType != typeof(DateTime?))
                                {
                                    if (PInfo.GetValue(CPR) != null)
                                    {
                                        <td>@PInfo.GetValue(CPR).ToString()</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                else
                                {
                                    if (PInfo.GetValue(CPR) != null)
                                    {
                                        <td>@(((DateTime)PInfo.GetValue(CPR)).ToString("yyyy-MM-dd"))</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                }
                            }
                        }
                    </tr>
                }
                else
                {
                    // break;
                }
            }

        </table>
    </div>
}


