@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

<div class="crm-print-block">
    <table class="table table-striped table-bordered valid-contracts-table">
        <th>Customer</th>
        <th>Customer Type</th>
        <th>County</th>
        <th>Address</th>
        <th>Zip code</th>
        <th>City</th>
        <th>IT manager</th>
        <th>IT manager email</th>
        @foreach (Dictionary<String, object> contracts in ViewBag.Contracts)
        {
            <tr class="">
                @foreach (KeyValuePair<String, object> kp in contracts)
                {
                    <td>@kp.Value</td>
                }
            </tr>
        }

    </table>
</div>
