@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

<div class="crm-print-block">
    <table class="table table-striped table-bordered valid-contracts-table">
        <th>Customer</th>
        <th>Customer Type</th>
        <th>Representative</th>
        <th>Contact Person</th>
        <th>Contract id</th>
        <th>Title</th>
        @foreach (Dictionary<String, String> contracts in ViewBag.Contracts)
        {
            <tr class="">
                @foreach (KeyValuePair<String, String> kp in contracts)
                {
                    <td>@kp.Value</td>
                }
            </tr>
        }

    </table>
</div>
