@using TietoCRM.Extensions;
<a id="currentUser" href="#">
    <table>
        <tr title="Area">
            <td>
                <span style="margin: 0 0.5em" class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
            </td>
            <td>
                @if (@HttpContext.Current.GetUser().Area == "*")
                {
                    <span>All</span>
                }
                else
                {
                    <span>@HttpContext.Current.GetUser().Area</span>
                }
            </td>
        </tr>
        <tr title="User">
            <td>
                <span style="margin: 0 0.5em" class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </td>
            <td>
                </span> @HttpContext.Current.GetUser().Name
            </td>
        </tr>
    </table>
    <span>
        <div>
        </div> 
    </span>
</a>