
<div id="sidebar-wrapper">
    <div class="nav-side-menu">
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
               
                <div class="brand">
                   
                </div>

                <li data-toggle="collapse" data-target="#customers" class="collapsed">
                    <a href="#">Customer Information</a>
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-chevron-down collapse-arrow" aria-hidden="true"></span>
                    </div>
                </li>
                <ul class="sub-menu collapse" id="customers">
                    <li><a href="~/Appointment/">- Appointment</a></li>
                    <li><a href="~/Customer/">- Customers</a></li>
                    <li><a href="~/CustomerContact/">- Contact persons</a></li>
                    <li><a href="~/Reminder/">- Reminders</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#products-and-services" class="collapsed">
                    <a href="#">Product and Services</a>
                    <div class="pull-right">
                            <span class="glyphicon glyphicon-chevron-down collapse-arrow" aria-hidden="true"></span>
                    </div>
                </li>
                <ul class="sub-menu collapse" id="products-and-services">
                    <li><a href="~/Module/">- Articles</a></li>
                    <li><a href="~/Tariff/">- Tariff</a></li>
                    <li><a href="~/Price/">- Price category</a></li>
                    <li><a href="~/Population/">- Population levels</a></li>
                    <li><a href="~/Service/">- Services</a></li>       
                    <li><a href="~/Sector/">- System/Classification</a></li>
                    <li><a href="~/ModuleDiscount/">- Module Discount</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#reports" class="collapsed">
                    <a href="#"> Reports </a>
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-chevron-down collapse-arrow" aria-hidden="true"></span>
                    </div>
                </li>
                <ul class="sub-menu collapse" id="reports">
                    <li><a href="~/CustomerProductReport/">- Customer products</a></li>
                    <li><a href="~/CustomerMissingProductReport/">- "Missing" products</a></li>
                    @*<li><a href="~/ContractSupervision/">- Supervision</a></li>*@
                    <li><a href="~/ContractSoldProductsReport/">- Sold products</a></li>
                    <li><a href="~/SaleReport/">- Sent Offers</a></li>
                    <li><a href="~/ModuleReport/">- Customer Module</a></li>
                    <li><a href="~/AppointmentReport/">- Appointment</a></li>
                    <li><a href="~/ValidContractsReport/">- Valid Contracts</a></li>
                    <li><a href="~/SentContractsReport/">- Sent Contracts</a></li>
                    <li><a href="~/CancelledContractsReport/">- Cancelled Contracts</a></li>
                    <li><a href="~/CustomerDivisionReport/">- Customer Division</a></li>
                    <li><a href="~/WhitespotReport/">- Whitespot</a></li>
                    <li><a href="~/TopCustomersReport/">- Top Customers</a></li>
                </ul>
                @if (TietoCRM.Models.GlobalVariables.isAuthorized("CustomerOffer"))
                {
                    <li data-toggle="collapse" data-target="#offers" class="collapsed">
                        <a href="#"> Offers </a>
                        <div class="pull-right">
                            <span class="glyphicon glyphicon-chevron-down collapse-arrow" aria-hidden="true"></span>
                        </div>
                    </li>
                    <ul class="sub-menu collapse" id="offers">
                        <li><a href="~/CustomerOffer/">- Customer offers</a></li>
                        @*<li><a href="#">Summary</a></li>*@
                    </ul>
                }
                @if (TietoCRM.Models.GlobalVariables.isAuthorized("CustomerContract"))
                {
                    <li data-toggle="collapse" data-target="#contracts" class="collapsed">
                        <a href="#"> Contracts </a>
                        <div class="pull-right">
                            <span class="glyphicon glyphicon-chevron-down collapse-arrow" aria-hidden="true"></span>
                        </div>
                    </li>
                    <ul class="sub-menu collapse" id="contracts">

                        <li><a href="~/CustomerContract/">- Customer contracts</a></li>
                        <li><a href="~/ContractExpirationList/">- Expiration List</a></li>
                        @*<li><a href="#">Customer visit</a></li>
                            <li><a href="#">Modual closure</a></li>
                            <li><a href="#">Summary</a></li>*@
                    </ul>
                }
                <li data-toggle="collapse" data-target="#system" class="collapsed">
                    <a href="#">System</a>
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-chevron-down collapse-arrow" aria-hidden="true"></span>
                    </div>
                </li>
                <ul class="sub-menu collapse" id="system">
                    <li><a href="~/ModuleMapping/">- Article Dependency</a></li>
                    <li><a href="~/Information/">- Information Messages</a></li>
                    <li><a href="~/SelectOption/">- Select Options</a></li>
                    <li><a href="~/Template/">- Offer Templates</a></li>
                    <li><a href="~/Template/MainContractTemplate/">- Contract Templates</a></li>
                    @if (TietoCRM.Models.GlobalVariables.isAuthorized("Users"))
                    {
                        <li><a href="~/User/">- Users</a></li>
                    }
                </ul>
                <li data-toggle="collapse" data-target="#installations" class="collapsed">
                    <a href="#"> Installations </a>
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-chevron-down collapse-arrow" aria-hidden="true"></span>
                    </div>
                </li>
                <ul class="sub-menu collapse" id="installations">
                    <li><a href="~/Features/">- Features</a></li>
                    <li><a href="~/FeatureMapping/">- Feature Mapping</a></li>
                </ul>
                <li class="crm-close-menu active menu-toggle">
                    <a href="#"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $('ul.sub-menu.collapse li').bind('click', function () {
        var $listItem = $(this);
        window.location = $listItem.find('a').attr("href");
    })
</script>
