.crm-pdf {
  position: relative;
  height: 100%;
  margin: 0 0.5cm;
  page-break-inside: auto !important;
}
.crm-pdf img {
  max-width: 100%;
}
.crm-pdf .h4,
.crm-pdf .h5,
.crm-pdf .h6,
.crm-pdf h4,
.crm-pdf h5,
.crm-pdf h6 {
  margin-bottom: 4px;
}
.crm-pdf div {
  width: 100%;
  display: block;
  vertical-align: top;
  color: black;
}
.crm-pdf .small-divider {
  width: 20%;
  border-bottom: 1px solid black;
  margin: 1em 0;
  display: block;
}
.crm-pdf .large-divider {
  width: 100%;
  display: block;
  border-bottom: 1px solid black;
}
.crm-pdf .crm-pdf-30 {
  width: 30%;
  display: inline-block;
}
.crm-pdf .crm-pdf-50 {
  width: 50%;
  display: inline-block;
}
.crm-pdf .crm-pdf-70 {
  width: 70%;
  display: inline-block;
}
.crm-pdf span.crm-signing-line {
  margin-top: 30px;
  border-bottom: 1px solid black;
  width: 200px;
  display: block;
  margin-bottom: 0.5em;
}
.crm-pdf div.crm-pdf-head {
  height: 30px;
  border: none;
}
.crm-pdf div.crm-pdf-head span#crm-pdf-todays-date {
  font-size: 13px;
  font-weight: bold;
  float: left;
}
.crm-pdf div.crm-pdf-head span#crm-pdf-tieto-logo-com {
  width: 110px;
  float: right;
  margin-top: -5px;
}
.crm-pdf div.crm-pdf-header-section table {
  width: 100%;
}
.crm-pdf div.crm-pdf-header-section #crm-pdf-tieto-info {
  text-align: right;
}
.crm-pdf div.crm-pdf-header-section div#crm-pdf-valid-info {
  padding: 2em 0;
}
.crm-pdf div.crm-pdf-header-section #crm-pdf-representative-info {
  text-align: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows-title.educational-portal {
  margin-top: 1em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows {
  page-break-before: auto;
  margin-top: 1em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.price-headings {
  width: 36%;
  text-align: right;
  float: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.price-headings table {
  width: 100%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.price-headings table td.pull-right {
  text-align: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.crm-pdf-offer-row table {
  width: 100%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.crm-pdf-offer-row table.crm-pdf-offer-row-info {
  margin-left: 0.6em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.crm-pdf-offer-row table.crm-pdf-offer-row-info td {
  padding: 0.2em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.crm-pdf-offer-row div.crm-pdf-30 table td:nth-child(1) {
  width: 4.5em;
  padding-right: 3em;
  text-align: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.crm-pdf-offer-row div.crm-pdf-30 table td:nth-child(2) {
  width: 3.5em;
  text-align: right;
  padding-right: 1em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.crm-pdf-offer-row-sum {
  margin-top: 0.2em;
  width: 100%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.crm-pdf-offer-row-sum div span.pull-right {
  margin-right: 2.5em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.crm-pdf-offer-row-sum table td:nth-child(1) {
  width: 4.5em;
  padding-right: 3em;
  text-align: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-offer-rows div.crm-pdf-offer-row-sum table td:nth-child(2) {
  width: 3.5em;
  text-align: right;
  padding-right: 1em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows {
  page-break-before: auto;
  margin-top: 1em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.price-headings {
  width: 36%;
  text-align: right;
  float: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.price-headings table {
  width: 100%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.price-headings table td.pull-right {
  text-align: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.price-headings table td span {
  margin-right: 1em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.crm-pdf-educational-portal-row table {
  width: 100%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.crm-pdf-educational-portal-row table.crm-pdf-educational-portal-row-info {
  margin-left: 0.6em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.crm-pdf-educational-portal-row table.crm-pdf-educational-portal-row-info td {
  padding: 0.2em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.crm-pdf-educational-portal-row div.crm-pdf-30 table td:nth-child(1) {
  width: 4.5em;
  padding-right: 3em;
  text-align: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.crm-pdf-educational-portal-row div.crm-pdf-30 table td:nth-child(2) {
  width: 3.5em;
  text-align: right;
  padding-right: 1em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.crm-pdf-educational-portal-row-sum {
  margin-top: 0.2em;
  width: 100%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.crm-pdf-educational-portal-row-sum div span.pull-right {
  margin-right: 2.5em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.crm-pdf-educational-portal-row-sum table td:nth-child(1) {
  width: 4.5em;
  padding-right: 3em;
  text-align: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-educational-portal-rows div.crm-pdf-educational-portal-row-sum table td:nth-child(2) {
  width: 3.5em;
  text-align: right;
  padding-right: 1em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows {
  page-break-before: auto;
  margin-top: 1em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.price-headings {
  width: 36%;
  text-align: right;
  float: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.price-headings table {
  width: 100%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.price-headings table td.pull-right {
  text-align: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.price-headings table td:nth-child(1) {
  width: 30%;
  text-align: center;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.price-headings table td:nth-child(2) {
  text-align: center;
  width: 33%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.price-headings table td:nth-child(3) {
  text-align: center;
  width: 33%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.crm-pdf-service-row table {
  width: 100%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.crm-pdf-service-row table.crm-pdf-service-row-info {
  margin-left: 0.6em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.crm-pdf-service-row table.crm-pdf-service-row-info td {
  padding: 0.2em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.crm-pdf-service-row div.crm-pdf-30 table td:nth-child(1) {
  width: 20%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.crm-pdf-service-row div.crm-pdf-30 table td:nth-child(2) {
  text-align: right;
  width: 40%;
  padding-right: 1em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.crm-pdf-service-row div.crm-pdf-30 table td:nth-child(3) {
  text-align: right;
  padding-right: 1em;
  width: 40%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.crm-pdf-service-row-sum {
  margin-top: 0.2em;
  width: 100%;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.crm-pdf-service-row-sum div span.pull-right {
  margin-right: 2.5em;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.crm-pdf-service-row-sum table td:nth-child(1) {
  width: 4.5em;
  padding-right: 3em;
  text-align: right;
}
.crm-pdf div.crm-pdf-offer-section div#crm-pdf-service-rows div.crm-pdf-service-row-sum table td:nth-child(2) {
  width: 3.5em;
  text-align: right;
  padding-right: 1em;
}
.crm-pdf div.crm-pdf-footer-section {
  page-break-inside: auto !important;
}
.crm-pdf div.crm-pdf-footer-section div#crm-pdf-footer-info {
  page-break-inside: auto !important;
  margin-top: 1.5em;
}
.crm-pdf div.crm-pdf-footer-section div#crm-pdf-footer-info p {
  page-break-inside: auto !important;
}
.crm-pdf div.crm-pdf-footer-section div#crm-pdf-footer-regards {
  margin-top: 1em;
}
.crm-pdf div.crm-pdf-foot {
  width: 100%;
  display: block;
  height: 80px;
}
.crm-pdf div.crm-pdf-foot div.crm-pdf-foot-logo {
  width: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}
.crm-pdf div.crm-pdf-subheader_2 table {
  page-break-before: auto;
  margin-top: 1em;
  width: 100%;
  background-color: #d7d7d7;
}
.crm-pdf div.crm-pdf-subheader_2 table td:nth-child(1) {
  width: 66%;
  text-align: left;
  font-weight: bold;
  font-size: 8pt;
}
.crm-pdf div.crm-pdf-subheader_2 table td:nth-child(2) {
  width: 8%;
  text-align: center;
  font-weight: bold;
  font-size: 8pt;
}
.crm-pdf div.crm-pdf-subheader_2 table td:nth-child(3) {
  text-align: right;
  width: 13%;
  font-weight: bold;
  font-size: 8pt;
}
.crm-pdf div.crm-pdf-subheader_2 table td:nth-child(4) {
  text-align: right;
  width: 13%;
  font-weight: bold;
  font-size: 8pt;
}
.crm-pdf div.crm-pdf-subrows_3 table {
  page-break-before: auto;
  width: 100%;
}
.crm-pdf div.crm-pdf-subrows_3 table td:nth-child(1) {
  width: 66%;
  text-align: left;
  font-size: 9pt;
  font-weight: normal;
}
.crm-pdf div.crm-pdf-subrows_3 table td:nth-child(2) {
  width: 8%;
  text-align: center;
  vertical-align: text-top;
  font-size: 9pt;
}
.crm-pdf div.crm-pdf-subrows_3 table td:nth-child(3) {
  text-align: right;
  width: 13%;
  vertical-align: text-top;
  font-size: 9pt;
}
.crm-pdf div.crm-pdf-subrows_3 table td:nth-child(4) {
  text-align: right;
  width: 13%;
  vertical-align: text-top;
  font-size: 9pt;
}
.area-newline {
  white-space: pre-wrap;
}
/* ViewPDF styles */

.navbar .nav,
.navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  *zoom: 1;
  /* hasLayout ie7 trigger */
  vertical-align: top;
}
.navbar-inner {
  text-align: center;
}
body {
  background: #cccccc;
}
#page-content-wrapper {
  padding-top: 0;
}
page[size="A4"] {
  background: white;
  width: 21cm;
  /*height: 59.4cm;*/
  min-height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  padding: 2cm 1cm 2cm 1.2cm;
}
page.A4-scaled {
  -ms-transform: scale(0.8);
  /* IE 9 */
  -webkit-transform: scale(0.8);
  /* Safari */
  transform: scale(0.8);
  -webkit-transform-origin: 0 0 0;
  transform-origin: top left;
  margin-bottom: -300px;
}
@media print {
  body,
  page[size="A4"] {
    margin: 0;
    box-shadow: 0;
    padding: 0;
  }
}
