@base-color: #0065A0;
@dark-blue: #62B3E5;
@light-blue: #BEE2F8;
@base-gray: #5E5F5F;
@green-color: #00B057;
.tss-base {
    &.bg {
        background-color: @base-color;
    }
    &.text {
        color:  @base-color;
    }
}
.tss-dark {
    &.bg {
        background-color: @dark-blue;
        color: white;
    }
    &.text {
        color:  @dark-blue;
    }
}
.tss-light {
    &.bg {
        background-color: @light-blue;
    }
    &.text {
        color:  @light-blue;
    }
}
.navbar-default{
    background-color: @base-color;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: @base-color;
}
.bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group>.disabled, .bootstrap-select.btn-group.disabled:active {
    cursor: not-allowed;
    background-color: #95a5a6;
    border-color: #95a5a6;
    opacity: 1 !important;
}

.btn-default, .btn-default:focus, .btn-default:active, .dropdown-toggle.btn-default, .btn-default.active, .btn-default:active, .btn-default:hover, .open>.dropdown-toggle.btn-default, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover  {
    background-color: @dark-blue;
    border-color: @dark-blue;
    small.text-muted {
        color: white;
    }
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: @dark-blue;
    border-color: @dark-blue;
}
.btn-default:hover{
    background-color: lighten(@dark-blue, 10%);
    border-color: lighten(@dark-blue, 10%);
}
.btn-primary, .btn-primary:focus, .btn-primary:active, .dropdown-toggle.btn-primary, .btn-primary.active, .btn-primary:active, .btn-primary:hover, .open>.dropdown-toggle.btn-primary, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover
{
    background-color: @base-color;
    border-color: @base-color;
}
.btn-primary:hover{
    background-color: lighten(@base-color, 10%);
    border-color: lighten(@base-color, 10%);
}

.btn-close, .btn-close:focus, .btn-close:active, .dropdown-toggle.btn-close, .btn-close.active, .btn-close:active, .btn-close:hover, .open>.dropdown-toggle.btn-close, .btn-close.active.focus, .btn-close.active:focus, .btn-close.active:hover, .btn-close:active.focus, .btn-close:active:focus, .btn-close:active:hover, .open>.dropdown-toggle.btn-close.focus, .open>.dropdown-toggle.btn-close:focus, .open>.dropdown-toggle.btn-close:hover
{
    background-color: @light-blue;
    border-color: @light-blue;
    color: @base-color;
}
.btn-close:hover{
    background-color: lighten(@light-blue, 3%);
    border-color: lighten(@light-blue, 3%);
}
.btn-success, .btn-success:focus, .btn-success:active, .dropdown-toggle.btn-success, .btn-success.active, .btn-success:active, .btn-success:hover, .open>.dropdown-toggle.btn-success,.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover
{
    background-color: @green-color;
    border-color: @green-color;
    color: white;
}
.btn-success:hover{
    background-color: lighten( @green-color, 3%);
    border-color: lighten( @green-color, 3%);
}

.pagination > .disabled >a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
    background-color: @light-blue;
    color: @base-color;
}
.pagination > .active > a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: lighten(@base-color, 5%);
}
.pagination > li{
    a{
        background-color: @dark-blue;
    }
    a:hover{
        background-color: @light-blue;
    }
}